<? $user_array = $this->get('user_array'); ?>

        <table class="table table-striped table-bordered">
            <tbody>
                <tr>
                    <td><?=$user_array['about']?> </td>
                </tr>
                <tr>
                    <td><b>Website:</b>&nbsp; <a href="<?=$user_array['website']?>"><?=$user_array['website']?></a> </td>
                </tr>
                <? if($user_array['type'] == 1){ ?>
                <tr>
                    <td><b>Phone:</b>&nbsp; <?=$user_array['phone']?></td>
                </tr>
                <tr>
                    <td><b>Address:</b>&nbsp;<?=$user_array['address']?></td>
                </tr>
                <?php } ?>
            </tbody>
        </table>
<h3>Stats:</h3>
        <table class="table table-striped table-bordered">
            <tbody>
                <tr>
                    <td>No of Questions: <?=$user_array['meta_questions_count']; ?> </td>
                </tr>
            </tbody>
        </table>        
<h3>Questions:</h3>
<table class="table table-striped table-bordered">
    <thead>
        <th> Title </th>
        <th> Department </th>
        <th> Status </th>
    </thead>
    <tbody>
            <? foreach ($this->get('array_all_question') as $questions=>$questions_array): ?>
                <tr>
                <td> <a href='<?= $this->get('BASE'); ?>/question/id/<?=$questions_array['question_id']?>'><?=$questions_array['question_title']?></a> 
                </td>
                <td> 
              <? foreach ($questions_array['all_departments'] as  $dept): ?>
                        <?=$dept['department_name']?>,&nbsp;
                      <? endforeach; ?>


                 </td>
                <td> <?=$questions_array['status_name']?> </td>
                </tr>
            <? endforeach; ?>
            <? if($user_array['meta_questions_count'] > 5 ) { ?> 
                <tr><td colspan="3"><b><a href="<?= $this->get('BASE'); ?>/questions?user=<?=$user_array['user_name']?>&page_number=2">View More Questions</a></b></td></tr>
            <? } ?>
    </tbody>
</table>
