<h2>Idea</h2>
<p>For a long time, we (the so-called middle class) didn’t have access to the ruling and administrative classes. We couldn’t ask them questions directly and they didn’t care about us. We were dependent on journalists to question politicians and politicians in turn to question the bureaucracy. It never worked for us. Journalists never worked for us. We were never their customers (our fault?) and I don’t have to say anything about the ruling class.

<p>With RTI, we got that access. Just like a top journo, I could question the Prime Minister and demand answers. But like how any other set of laws were used, RTI’s first success stories were very personal. I think even today RTI has been used in a very personal way to get answers to personal questions.

<p>But then there are a set of people who are asking public-interest questions. Answers to which are very useful to the vast majority. Hence the use of AskYourGovt, where we plan to build a comprehensive database of Public Interest RTI requests and responses. The idea is not just to aggregate the responses. It’s to build a community around “Questioning the Govt” which includes asking more questions, demanding answers, commenting on the responses, building stories and larger public awareness.


<h2>Team</h2>
<p><b>Thejesh GN</b> “Thej”  is an Independent Technologist, developer, blogger, data enthusiast and traveler from Bangalore, India. He founded askyourgovt.in Oct 2012. He is also the main programmer.

<p><b>Sandeep GL</b> is a Software Tester from Bangalore, India. Gandhi's "You must be the Change, You want to See in the World" always inspires him to do things. He Likes to travel and read. 

<p><b>Sandeep MK</b> is a Busines Analyst from Bangalore, India presently lives in London, UK. He likes traveling and reading specially science fiction. He generally loves to work with friends.

<h2>Contribute</h2>
<ol>
<li>Contribute to the code. <a href="http://code.thejeshgn.com/askyourgovt/">We are opensource</a>.</li>
<li>Contribute RTI responses. We will ofcourse credit you.</li>
<li>Contribute RTI requests. We will ofcourse credit you.</li>
<li>Any other ideas and comments</li>
</ol>

<h2>More</h2>
<p> Follow the <a href="http://thejeshgn.com/tag/askyourgovt/">blog posts</a> to get to know more.