
        <table class="table table-striped table-bordered">
            <tbody>
                  <tr>
                      <td><i class="icon-large icon-web-browser"></i>&nbsp;<b>Govt Portal</b>
                      </td>
                      <td><a href="http://rtionline.gov.in">RTI Online</a>
                      </td>
                  </tr>
                  <tr>
                    <td colspan=2>This is a portal to file RTI applications/first appeals online along with payment gateway. Payment can be made through internet banking of SBI & its associate banks and debit/credit cards of Master/Visa. Through this portal, RTI applications/first appeals can be filed by Indian Citizens only for the main ministries/departments of Central Govt., located at New Delhi. </td>
                  </tr>

                  <tr>
                      <td><i class="icon-large icon-web-browser"></i>&nbsp;<b>Govt Portal</b>
                      </td>
                      <td><a href="http://rti.india.gov.in/">CIC Online</a>
                      </td>
                  </tr>
                  <tr>
                    <td colspan=2>CIC Online facilitates online filing of RTI Complaint and Appeal with the CIC that has institutionalised the convergence of ICT with the Right to Information Act, 2005.  The project “CIC Online” a key initiative driven by Central Information Commission (CIC) and National Informatics Centre (NIC), the premier ICT Organisation of the Government of India under the aegis of National e-Governance Plan (NeGP), was sought to acquire the key benefits of ICT and deliver the RTI system over the digital network for the citizens.</td>
                  </tr>
                  <tr>
                      <td><i class="icon-large icon-web-browser"></i>&nbsp;<b>Pvt Portal</b>
                      </td>
                      <td><a href="http://onlinerti.com/">Online RTI</a>
                      </td>
                  </tr>
                  <tr>
                    <td colspan=2>File RTI Application Online for all state and central departments. They make it really easy to submit an RTI request.</td>
                  </tr>
                  <tr>
                      <td><i class="icon-large icon-web-browser"></i>&nbsp;<b>Pvt Community Forum</b>
                      </td>
                      <td><a href="http://www.rtiindia.org/forum/forum.php">RTI India</a>
                      </td>
                  </tr>
                  <tr>
                    <td colspan=2>Community forum to discuss RTI related matters.</td>
                  </tr>


                  <tr>
                      <td><i class="icon-large icon-web-browser"></i>&nbsp;<b>NGO</b>
                      </td>
                      <td><a href="http://getup4change.org/rti/">RTI Anonymous</a>
                      </td>
                  </tr>
                  <tr>
                    <td colspan=2>RTI Anonymous is an online service, through which, any Indian citizen can File Right to Information (RTI) Applications Anonymously. They DO NOT HAVE TO REVEAL THEIR IDENTITY. The RTI Anonymous Community will file those RTI Applications in their name and upload the documents obtained as a reply on this website. The original requester will get an email when this happens. The original requester just has to draft the RTI Application as much as he/she can and the RTI Anonymous community will take care of the rest.</td>
                  </tr>

                  <tr>
                      <td><i class="icon-large icon-web-browser"></i>&nbsp;<b>Pvt RTI News Site</b>
                      </td>
                      <td><a href="http://www.rtifoundationofindia.com/">RTI Foundation of India</a>
                      </td>
                  </tr>
                  <tr>
                    <td colspan=2>This site publishes case laws, RTI related news and articles.</td>
                  </tr>


            </tbody>
        </table>









