<table class="table table-striped table-bordered">
    <thead>
        <th>Sl</th>
        <th> Title </th>
        <th> Department </th>
        <th> Status </th>
        <th> Asked By </th>

    </thead>
    <tbody>    
    <? foreach ($this->get('array_all_question') as $questions=>$questions_array): ?>
    <tbody>
            <tr>
            <td><?=$questions_array['question_seq_num']?> </td>
            <td> <a href='<?= $this->get('BASE'); ?>/question/id/<?=$questions_array['question_id']?>'><?=$questions_array['question_title']?></a> 
            </td>
            <td> 

              <? foreach ($questions_array['all_departments'] as  $dept): ?>
                        <?=$dept['department_name']?>,&nbsp;
                      <? endforeach; ?>

            </td>


            <td> <?=$questions_array['status_name']?> </td>
            <td> <a href="<?= $this->get('BASE'); ?>/user/<?=$questions_array['user_name']?>"><?=$questions_array['user_full_name']?></a> </td>

            </tr>
     </tbody>
    <? endforeach; ?>
    </tbody>
</table>
<ul class="pager">
  <? if($this->get('page_number') == 1 || $this->get('page_number') == 0){ ?>
      <li class="next disabled">
        <a href="#">Newer &rarr;</a>
      </li>
  <? }else{ ?>
      <li class="next">
        <a href="?<?=$this->get('newer'); ?>">Newer &rarr;</a>
      </li>
  <? } ?>
<? if( intval($this->get('total_number')) < intval($this->get('count_per_page')) ){ ?>
  <li class="previous disabled">
    <a href="#">&larr; Older</a>
  </li>
<? }else{ ?>
    <li class="previous">
      <a href="?<?=$this->get('older'); ?>">&larr; Older</a>
    </li>
<? } ?>

</ul>