<div  class="span5">
	<div class="well">
			AskYourGovt.in is a community around asking public interest questions. Start by knowing about RTI, How to Ask, Browse RTI requests and Responses or by reading public reactions. 
			<br><br>
			<center>
			<a href="/faq" class="btn btn-primary btn-large">
			      Learn
			</a>
			<a href="/ask" class="btn btn-primary btn-large">
			      Ask
			</a>
			<a href="/questions" class="btn btn-primary btn-large">
			      Browse
			</a>
			</center>
	</div>

	<table class="table table-striped table-bordered">
                <tbody>
                <tr>
                    <td><h4>Most Popular Questions</h4></td>
                </tr>
                  <tr>
                      <td><i class="icon-book"></i>&nbsp;<a href="/document/id/30">Complaint filed by ADR to CIC</a></td>
                  </tr>
                      <tr>
                      <td><i class="icon-book"></i>&nbsp;<a href="/document/id/31">Why Political Parties should come under RTI Act (English)</a></td>
                  </tr>
                      <tr>
                      <td><i class="icon-book"></i>&nbsp;<a href="/document/id/31">Why Political Parties should come under RTI Act (English)</a></td>
                  </tr>
                  <tr>
                      <td><i class="icon-book"></i>&nbsp;<a href="/document/id/31">Why Political Parties should come under RTI Act (English)</a></td>
                  </tr>
                  <tr>
                      <td><i class="icon-book"></i>&nbsp;<a href="/document/id/31">Why Political Parties should come under RTI Act (English)</a></td>
                  </tr>
                 <tr>
                      <td><a href="/news"><b>More</b></a></td>
                  </tr>


                </tbody>
	</table>


</div>
<div  class="span3">
<table class="table table-striped table-bordered">
                <tbody>
                <tr>
                    <td><h4>RTI News Stream</h4></td>
                </tr>
                  <tr>
                      <td><i class="icon-book"></i>&nbsp;<a href="/document/id/30">Complaint filed by ADR to CIC</a></td>
                  </tr>
                      <tr>
                      <td><i class="icon-book"></i>&nbsp;<a href="/document/id/31">Why Political Parties should come under RTI Act (English)</a></td>
                  </tr>
                      <tr>
                      <td><i class="icon-book"></i>&nbsp;<a href="/document/id/31">Why Political Parties should come under RTI Act (English)</a></td>
                  </tr>
                  <tr>
                      <td><i class="icon-book"></i>&nbsp;<a href="/document/id/31">Why Political Parties should come under RTI Act (English)</a></td>
                  </tr>
                  <tr>
                      <td><i class="icon-book"></i>&nbsp;<a href="/document/id/31">Why Political Parties should come under RTI Act (English)</a></td>
                  </tr>
                 <tr>
                      <td><a href="/news"><b>More</b></a></td>
                  </tr>


                </tbody>
              </table>
				<table class="table table-striped table-bordered">
                <tbody>
                <tr>
                    <td><h4>RTI Champion</h4></td>
                </tr>
                  <tr>
                      <td>
                      		Highlighting a champion.

                      </td>
                  </tr>
                 <tr>
                      <td><a href="/news"><b>Continue Reading</b></a></td>
                  </tr>


                </tbody>
              </table>


</div>
