<section id="about_rti_act">
	<div class="page-header">
	    <h3>1. About RTI Act</h3>
	</div>
<p class="text-error">What is RTI?</p>
<p>Within the download you'll find the following file structure and contents, logically grouping common assets and providing both compiled and minified variations.</p>

<p>Within the download you'll find the following file structure and contents, logically grouping common assets and providing both compiled and minified variations.</p>


</section>
<section id="rti_application">
	<div class="page-header">
	    <h3>2. RTI Application</h3>
	</div>
<p class="text-error">What is RTI?</p>
<p>Within the download you'll find the following file structure and contents, logically grouping common assets and providing both compiled and minified variations.</p>

<p>Within the download you'll find the following file structure and contents, logically grouping common assets and providing both compiled and minified variations.</p>

</section>
<section id="appeal_process">
	<div class="page-header">
	    <h3>2. Appeal Process</h3>
	</div>
<p class="text-error">What is RTI?</p>
<p>Within the download you'll find the following file structure and contents, logically grouping common assets and providing both compiled and minified variations.</p>

<p>Within the download you'll find the following file structure and contents, logically grouping common assets and providing both compiled and minified variations.</p>
</section>

